<div class="card" style="min-width: 25%; padding: 10px;">
    <img class="card-img-top" src="assets/img/{{instrumentoAux.imagenPath}}" alt="Card image cap" style="max-height: 150px;">
    <div class="card-body">
    <h5 class="card-title">{{instrumentoAux.nombre}}</h5>
    <p class="card-text">$ {{instrumentoAux.precio}}</p>
    </div>
    <div class="card-footer" style="text-align: center;">
    <button (click)="verPlato()" class="btn btn-primary" style="width: 90%;">Detalle</button>
    </div>
</div> 